extends layout

block content
  #mainflex
    article
      h1 Cholera
      p In 1853 analyseerde dr. John Snow de spreiding van cholera in Londen door de locatie van sterfgevallen op een plattegrond te tekenen. Door deze data te combineren met de locatie van drinkwaterputten, kon hij de bron van de ziekte achterhalen. Hier uit concludeerde hij dat vervuild drinkwater de drager is van cholera. Hoewel het nog jaren zou duren voor zijn conclusie werd geloofd, wordt Snow zijn kaart nu gezien als het eerste voorbeeld van ruimtelijke en epidemiologische analyse. 
      p In de jaren daarna volgden er wereldwijd meerdere epidemieen. Nederland werd onder anderen in 1859 en 1866 getroffen. De epidemie van 1866 eiste het leven van zo'n 21.000 Nederlanders. In Amsterdam vielen 'slechts' 1149 doden. Dankzij de distributie van duinwater was dit aantal een stuk lager dan tijdens de epidemie van 1859. 
      map.spreidingnl
      div.tijdbalk
     
      p Het bijzondere aan deze epidemieen is dat ze erg gedetailleerd gedocumenteerd zijn. De bovenstaande visualisatie over de spreiding van cholera in 1859 is gebaseerd op de historische data. Naast landelijke data is er ook gedetailleerdere data beschikbaar. Het "Verslag Der Amsterdamsche Cholera Commissie 1866", is een rapport over de Amsterdamse cholera inclusief meerdere paginas data en een historische kaart. De historische kaart, gemaakt door dr. Teixera de Mattos, doet een poging de data uit het verslag te visualiseren. Hoewel het een schitterende kaart is, vertelt het ons niet bijzonder veel over de verspreiding van cholera. Met de beschikbare data kunnen we nu, 150 jaar na dato, de kaart opnieuw tot leven brengen.

  script(src='/javascripts/achtergrondscript.js')