extends layout

block content
  #mainflex
    article
      h1 Analyse 

      p Het "Verslag der Amsterdamsche Cholera Commissie" bestaat voor hetuit data over overledenen. Per overledene wordt aangegeven op welk adres hij/zij is overleden, op welke datum, in welke wijk en in wat voor type woning. Dit biedt de mogelijkheid om een aantal thematische kaarten te maken, en in te zoomen op bepaalde wijken.

      h2 Sterfgevallen per buurt
      p Het is opvallend dat er een aanzienlijk verschil zit tussen het aantal sterfgevallen per buurt. Het valt op dat er in de buitenste ring (buurten QQ - JJ) relatief veel mensen overleden. Maar ook de buurten iets ten oosten van het centrum werden zwaar getroffen.
      p Door op de kaart te klikken wordt de lijngrafiek ge-update met de data van de huidige buurt.
      map#sterf_per_buurt
      #d3_per_buurt

      h2 Buurt QQ
      p In absolute aantallen werd buurt QQ het hardst getroffen. Er vielen 123 slachtoffers als gevolg van de cholera. 
      .sterf_zoomin#buurtQQ

      h2 Buurt S
      p Met een sterfteverhouding van 27 op de 1000 werd Uilenburg relatief het hardst getroffen. De buurt, omringd door water, was arm en dichtbevolkt.
      .sterf_zoomin#buurtS


      h2 Buurt RR
      p Door de aanwezigheid van het cholera hospitaal zou je een hoog sterftegetal verwachten in buurt JJ. Het is lastig te achterhalen waar het cholera hospitaal zich precies bevond. Meerdere bronnen spreken over de Lange Leidschedwarsstraat. Er stierven 10 mensen in het hospitaal- op een totaal van 1142 erg weinig. In andere buurten bevonden zich onder anderen gasthuizen waar choleralijders terecht konden. Het zou in
      .sterf_zoomin#buurtJJ

      h2 Sterfgevallen en huistype
      p Het rapport maakt een onderscheidt tussen verschillende typen huizen. De volgende typen huizen kunnen worden onderschijden: [B]ovenkamer, [I]n het huis, [O]nderhuis, [K]elder, [S]chip en overig. Welk percentage van de woningen welk type had, is jammer genoeg niet bekend.
      map.flex
        .d3widget#d3_per_loc
        #sterf_per_loc

  script(src='/javascripts/chroniton.js')      
  script(src='/javascripts/analysescript.js')