extends layout

block content
  map
    #mts
      .month-cnt
        .day-cnt
          #01_06.day.fn
          #02_06.day.fn
          #03_06.mon.fn
          #04_06.day.fn
          #05_06.day.fn
          #06_06.day.fn
          #07_06.day.fn
          #08_06.day.fn
          #09_06.day.fn
          #10_06.mon.fn
          #11_06.day.fn
          #12_06.day.fn
          #13_06.day.fn
          #14_06.day.fn
          #15_06.day.fn
          #16_06.day.fn
          #17_06.mon.fn
          #18_06.day.fn
          #19_06.day.fn
          #20_06.day.fn
          #21_06.day.fn
          #22_06.day.fn
          #23_06.day.fn
          #24_06.mon.fn
          #25_06.day.fn
          #26_06.day.fn
          #27_06.day.fn
          #29_06.day.fn
          #29_06.day.fn
          #30_06.day.fn
        .label-cnt JUN
      .month-cnt
        .day-cnt
          #01_07.mon.fn
          #02_07.day.fn
          #03_07.day.fn
          #04_07.day.fn
          #05_07.day.fn
          #06_07.day.fn
          #07_07.day.fn
          #08_07.mon.fn
          #09_07.day.fn
          #10_07.day.fn
          #11_07.day.fn
          #12_07.day.fn
          #13_07.day.fn
          #14_07.day.fn
          #15_07.mon.fn
          #16_07.day.fn
          #17_07.day.fn
          #18_07.day.fn
          #19_07.day.fn
          #20_07.day.fn
          #21_07.day.fn
          #22_07.mon.fn
          #23_07.day.fn
          #24_07.day.fn
          #25_07.day.fn
          #26_07.day.fn
          #27_07.day.fn
          #29_07.day.fn
          #29_07.mon.fn
          #30_07.day.fn
          #31_07.day.fn
        .label-cnt JUL
      .month-cnt
        .day-cnt
          #01_08.day.fn
          #02_08.day.fn
          #03_08.day.fn
          #04_08.day.fn
          #05_08.mon.fn
          #06_08.day.fn
          #07_08.day.fn
          #08_08.day.fn
          #09_08.day.fn
          #10_08.day.fn
          #11_08.day.fn
          #12_08.mon.fn
          #13_08.day.fn
          #14_08.day.fn
          #15_08.day.fn
          #16_08.day.fn
          #17_08.day.fn
          #18_08.day.fn
          #19_08.mon.fn
          #20_08.day.fn
          #21_08.day.fn
          #22_08.day.fn
          #23_08.day.fn
          #24_08.day.fn
          #25_08.day.fn
          #26_08.mon.fn
          #27_08.day.fn
          #29_08.day.fn
          #29_08.day.fn
          #31_08.day.fn
        .label-cnt AUG
      .month-cnt
        .day-cnt
          #01_09.day.fn
          #02_09.day.fn
          #03_09.mon.fn
          #04_09.day.fn
          #05_09.day.fn
          #06_09.day.fn
          #07_09.day.fn
          #08_09.day.fn
          #09_09.day.fn
          #10_09.mon.fn
          #11_09.day.fn
          #12_09.day.fn
          #13_09.day.fn
          #14_09.day.fn
          #15_09.day.fn
          #16_09.day.fn
          #17_09.mon.fn
          #18_09.day.fn
          #19_09.day.fn
          #20_09.day.fn
          #21_09.day.fn
          #22_09.day.fn
          #23_09.day.fn
          #24_09.mon.fn
          #25_09.day.fn
          #26_09.day.fn
          #27_09.day.fn
          #29_09.day.fn
          #29_09.day.fn
          #30_09.day.fn
        .label-cnt SEP
      .month-cnt
        .day-cnt
          #01_10.mon.fn
          #02_10.day.fn
          #03_10.day.fn
          #04_10.day.fn
          #05_10.day.fn
          #06_10.day.fn
          #07_10.day.fn
          #08_10.mon.fn
          #09_10.day.fn
          #10_10.day.fn
          #11_10.day.fn
          #12_10.day.fn
          #13_10.day.fn
          #14_10.day.fn
          #15_10.mon.fn
          #16_10.day.fn
          #17_10.day.fn
          #18_10.day.fn
          #19_10.day.fn
          #20_10.day.fn
          #21_10.day.fn
          #22_10.mon.fn
          #23_10.day.fn
          #24_10.day.fn
          #25_10.day.fn
          #26_10.day.fn
          #27_10.day.fn
          #29_10.day.fn
          #29_10.mon.fn
          #30_10.day.fn
          #31_10.day.fn
        .label-cnt OKT
    #intromap
    #playbtn &#9654;
    #toolt_today.arrow_box
      #datestamp  
    #intromaptitle 
      h1 Amsterdam 1866
      p In vijf maanden stierven 1142 Amsterdammers aan cholera. Hoe kwam dit? Welke factoren speelden een rol? Kolerekaart gaat over het visualiseren van historische data met moderne technieken. 
  script(src='/javascripts/mapscript.js')


