extends layout

block content
  #mainflex
    article
      h1 Over Kolerekaart
      p Kolekaart.nl heeft als doel het visualiseren van historische data met moderne web-technieken. Het is bedoeld als voorbeeld project om te laten zien wat er mogelijk is met historische data.  
      p Kolerekaart.nl is het afstudeerwerk van mijzelf, Thijs Erik Schouten, in samenwerking met kartografisch ontwikkelbureau WebMapper. Als student Geodesie / Geo-informatica aan de HU, ben ik altijd bezig met geografische data en analyses. Mijn interesse ligt op het raakvlak van techniek en vormgeving- maar ook het maatschappelijk belang vind ik belangrijk. Kolerekaart past wat dat betreft mooi bij mijn voorkeuren. Het originele idee van Kolerekaart.nl komt van Edward Mac Gillavry. In samenwerking met Edward, Baukje Rienks en Hans Fäst van Webmapper is deze website tot stand gekomen.

      p Deze website had niet gebouwd kunnen worden zonder de data van het Stadsarchief en HISGIS, waar voor dank.