@import  "https://fonts.googleapis.com/css?family=Lato:700,400";

@import  "https://fonts.googleapis.com/css?family=Lora:400italic,400";

@import  "https://fonts.googleapis.com/css?family=Montserrat:400";

html,body {
  height: 100%;
  margin: 0;
  font-family: 'Lato';
}

a {
  text-decoration: none;
}

p {
  color: #413D3D;
}

header {
  top: 0;
  height: 60px;
}


article .flex {
  display: -webkit-flex;
  display: flex;
}

article .leaflet-container {
  background-color: rgba(255,0,0,0.0);
}

#headercontainer {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  max-width: 780px;
  margin: auto;
}

#title {
  color: #000;
  align-self: center;
  flex-width: 50px;
  z-index: 15;
  margin-left: .5em;
  margin-bottom: .1em;
  margin-top: .1em;
  padding: 0 5px;
  font-family: 'Montserrat';
  font-size: 20px;
  text-transform: uppercase;
}

nav {
  justify-content: flex-end;
  align-self: center;
  flex: 1;
  display: flex;
  padding-right: 1em;
}

nav a {
  text-align: center;
  z-index: 15;
  font-family: 'Lato',sans-serif;
  font-weight: 700;
  font-size: 10.5px;
  padding: 2px 0;
  margin-left: 10px;
  background: none;
  color: #000;
  border-bottom: 1px solid #000;
}

nav a:hover {
  color: #ff6347;
  border-color: #ff6347;
}

/*********************/
/* Main content container */
/* display: flex; */
#main {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  top: 0;
}

map {
  height: 100%;
  width: 100%;
}

#intromap {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;
}

/*********************/
/* tooltip, play button styling */
#playbtn {
  position: absolute;
  width: 80px;
  text-align: center;
  z-index: 50;
  color: #72B0B4;
  bottom: 80px;
  left: calc(50% - 40px);
  font-size: 30px;
  opacity: 0.95;
}

#toolt_today {
  position: absolute;
  z-index: 50;
  width: 100px;
  text-align: center;
  z-index: 15;
  font-family: 'Lato',sans-serif;
  font-weight: 400;
  font-size: .75em;
  color: #000;
}

#playbtn:hover {
  color: #ff6347;
}

.arrow_box {
  position: relative;
  background: #E3E3D8;
  border: 2px solid #72B0B4;
}

.arrow_box:after,.arrow_box:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(227,227,216,0);
  border-top-color: #E3E3D8;
  border-width: 6px;
  margin-left: -6px;
}

.arrow_box:before {
  border-color: rgba(114,176,180,0);
  border-top-color: #72B0B4;
  border-width: 9px;
  margin-left: -9px;
}

/*********************/
/* Screen size width smaller dan 550px*/
@media screen and (max-width: 569px) {
  #headercontainer {
    flex-direction: column;
  }

  #title {
    font-size: 1.4em;
  }

  #mts {
    display: flex;
    position: absolute;
    justify-content: center;
    height: 50px;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }

  #toolt_today {
    bottom: 42px;
  }

  #mts .day,#mts .mon {
    width: 1px;
    border: 1px solid rgba(0,0,0,0.35);
  }
}

/* Screen size width more than 550px */
@media screen and (min-width: 570px) {
  #mts {
    display: flex;
    position: absolute;
    justify-content: center;
    height: 50px;
    bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }

  #toolt_today {
    bottom: 58px;
  }

  #mts .day,#mts .mon {
    width: 2px;
    border: 1px solid rgba(0,0,0,0.35);
  }
}

/* TimeSlider styling */
#mts .month-cnt {
  opacity: .75;
  z-index: 10;
  order: 1;
  display: flex;
  flex-direction: column;
  padding-bottom: 5px;
}

#mts .label-cnt {
  margin-top: 2px;
  font-family: 'Lato',sans-serif;
  font-weight: 700;
  font-size: 10.5px;
  text-align: center;
}

#mts .day-cnt {
  flex: 1;
  display: flex;
  padding-top: 16px;
  padding-bottom: 4px;
}

#mts .day {
  padding-top: 1px;
  background: #72B0B4;
}

#mts .mon {
  background: #72B0B4;
}

#mts .mon:hover,#mts .day:hover {
  background: #ff6347;
}

.pulse {
  -moz-transition: show;
  -webkit-transition: show;
  width: 3px;
  height: 3px;
  border: 2px solid #ff6347;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #ff6347;
  z-index: 10;
  position: absolute;
}

.dot {
  border: 10px solid #ff6347;
  background: transparent;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  height: 20px;
  width: 20px;
  -webkit-animation: pulse 1.2s ease-out;
  -moz-animation: pulse 1.2s ease-out;
  animation: pulse 1.2s ease-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  position: absolute;
  top: -17px;
  left: -17px;
  z-index: 1;
}

@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(0);
    opacity: 0;
  }

  25% {
    -moz-transform: scale(0);
    opacity: .1;
  }

  50% {
    -moz-transform: scale(0.1);
    opacity: .3;
  }

  75% {
    -moz-transform: scale(0.5);
    opacity: .5;
  }

  100% {
    -moz-transform: scale(1);
    opacity: 0;
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0);
    opacity: 0;
  }

  25% {
    -webkit-transform: scale(0);
    opacity: .1;
  }

  50% {
    -webkit-transform: scale(0.1);
    opacity: .3;
  }

  75% {
    -webkit-transform: scale(0.5);
    opacity: .5;
  }

  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}

#intromap .leaflet-control-zoom {
  margin-top: 70px;
  background: #72B0B4;
  
}

#intromaptitle {
  position: absolute;
  top: 60px;
  right: 17%;
  z-index: 99;
  text-align: right;
  max-width: 300px;
}

#intromaptitle > h1 {
  font-size: 1.5em;
  text-align: right;
  margin: 0;
  color: #2C2918;
}

#intromaptitle > p {
  margin: .01em;
  font-size: .8em;
}

.leaflet-bottom {
  display: none;
}

#mainflex {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
}

article {
  flex-grow: 1;
  max-width: 780px;
  flex-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 1em 0;
}

h1 {
  font-family: 'Lora';
  font-style: italic;
  font-size: 30px;
  letter-spacing: .05em;
  text-transform: uppercase;
  text-align: center;
  color: #030C22;
}

h2 {
  font-family: 'Lora';
  font-style: italic;
  font-size: 15px;
  letter-spacing: .05em;
  color: #030C22;
}

p {
  font-family: ;
}

#sterf_per_loc {
  width: 100%;
  height: 370px;
  display: inline-block;
  flex: 1;
}
#sterf_per_buurt {
  width: 100%;
  display: inline-block;
  height: 345px;
}
.sterf_zoomin {
  width: 100%;
  display: inline-block;
  height: 345px;
}

.bar {
  fill: darkgrey;
}

.bar:hover {
  fill: #a52a2a;
}

.axis {
  font: 10px sans-serif;
}

.axis path,.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
/* aspect ratio */
  vertical-align: top;
  overflow: hidden;
}

.svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0;
}

.d3widget {
  flex: 0;
  min-width: 200px;
  height: 345px;
}

#d3_per_buurt {
  width: 100%;
  height: 160px;
}

.line {
  fill: none;
  stroke: black;
  stroke-width: 1.5px;
}

.spreidingnl {
  width: 100%;
}

path.leaflet-interactive {
  stroke-width: 0;
  fill-opacity: 0;
}

path.leaflet-interactive:hover {
  stroke-width: 3;
}



#intromap .leaflet-bar {
    box-shadow: none;
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0);
    padding: 2px;
}

#intromap .leaflet-bar a, .leaflet-bar a:hover {
    background: none repeat scroll 0 0 #72B0B4;
    border-bottom: 1px solid #ccc;
    color: #fff;
    display: block;
    height: 22px;
    line-height: 19px;
    text-align: center;
    text-decoration: none;
    width: 22px;
    margin: 1px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Lucida Grande',Verdana,Geneva,Lucida,Arial,Helvetica,sans-serif;
}

#intromap .leaflet-bar a:hover {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
}


